[submodule "oak"]
	path = submodules/oak
	url = https://github.com/project-oak/oak
	branch = main
[submodule "builders"]
	path = builders
  url = https://github.com/privacysandbox/build-system
  branch = release-0.79.2
