[submodule "protected-auction-key-value-service"]
	path = submodules/kv-server
	url = sso://team/kiwi-air-force-eng-team/kv-server
	branch = main

[submodule "kv-server"]
	path = submodules/kv-server
	url = sso://team/kiwi-air-force-eng-team/kv-server
[submodule "submodules/oak"]
	path = submodules/oak
	url = sso://privacysandbox/hats_oak
