# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (next section).
build_file: "hats/google_internal/kokoro/continuous_build.sh"
container_properties {
  docker_image: "us-central1-docker.pkg.dev/ps-hats-playground/presubmit/presubmit@sha256:386b3391195dd9d0624764eaa918cb66e4bd6e962afbcbd46af2a5aa1ca504d1",
}

gfile_resources: "/x20/teams/bazel/releases/bazel-7.4.1-linux-x86_64"

# 78411_CHV_CORP_LAB
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 78411
      # Credentials for Swarming and Isolate
      keyname: "swarming-service-key"
    }
  }
}
