# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

# Location of the bash script. Should have value <git_on_borg_scm.name>/<path_from_repository_root>.
# git_on_borg_scm.name is specified in the job configuration (next section).
build_file: "hats/google_internal/kokoro/kokoro_swarming_build.sh"
container_properties {
  docker_image: "us-central1-docker.pkg.dev/ps-hats-playground/presubmit/presubmit@sha256:71f2a1a6aa339ad7b71488fb5d732f65c94972ffe68dec11d71beda65189bb14",
}

# 78411_CHV_CORP_LAB
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 78411
      # Credentials for Swarming and Isolate
      keyname: "swarming-service-key"
    }
  }
}
