# Patched version of https://github.com/project-oak/oak/blob/fdf380dfcc5a812befa3179f9cecea440a72b7b7/oak_containers/system_image/files/etc/systemd/system/oak-orchestrator.service
[Unit]
Description=Oak Containers Orchestrator
After=network-online.target
Wants=network-online.target
FailureAction=none
SuccessAction=none

[Service]
Type=simple
ExecStart=/usr/bin/orchestrator_main --container-dir ${RUNTIME_DIRECTORY}/oak_container --ipc-socket-path ${RUNTIME_DIRECTORY}/oak_utils/orchestrator_ipc --tvs-public-key=046b17d1f2e12c4247f8bce6e563a440f277037d812deb33a0f4a13945d898c2964fe342e2fe1a7f9b8ee7eb4a7c0f9e162bce33576b315ececbb6406837bf51f5 --launcher-addr=${LAUNCHER_ADDR}
ExecStopPost=/usr/bin/journalctl --sync --flush
ProtectSystem=strict
RuntimeDirectory=oak_containers_orchestrator
ReadWritePaths=/oak
PassEnvironment=LAUNCHER_ADDR

[Install]
WantedBy=multi-user.target
